.container{
    display: grid;
    justify-items: center;
    align-items: center;
}


#id_username{
    color: gray;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}

#id_edit_profile_btn{
    padding: 5px;
    border-style: none;
    border-radius: 9px;
    background-color: #f6f8fa;
    transition: .2s ease;
}

#id_edit_profile_btn:hover{
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

.user-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    /* background: linear-gradient(to right, #ff8e7f, #fac636); */
    background-image: url('images/wave3.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    width: 100%;
    margin-top: 20px;
}

#id_user_profile_img{
    object-fit: cover;
    width: 210px;
    height: 200px;
}


.user-bio{
    padding: 10px;
    text-align: center;
    width: 40%;
    border-radius: 16px;
    background:#fff;
    border: 2px solid rgba(255, 16, 92, 0.262);
}

.profile-item label{
    display: inline-table;
    width: 150px;
    float: left;
}

.profile-item p{
    display: inline-table;
    font-size: 17px;
    font-weight: 450;
}

.about{
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    background: whitesmoke;
    padding: 10px;
}

.about .about-text{
    font-size: 13px;
    text-align: center;
}


.profile-picture{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 6px solid rgb(255, 247, 236);
}



/* Media queries for smaller screens */

@media screen and (max-width: 768px) {
    .user-bio {
        width: 40%;
    }

    .profile-item label,
    .profile-item p {
        width: auto;
        float: none;
        display: block;
        text-align: center;
    }

    .profile-picture {
        width: 120px;
        height: 120px;
    }
}