{% extends 'core/layout.html' %}
{% load static %}

{% block title %} change password {% endblock %}

{% block body %}
{% if request.user.is_authenticated %}
<div id="id_auth_form" class="">
    {% for fm in form %}
        {% if fm.errors %}
        <div class="text-danger">
            {% for error in fm.errors %}
                <p class="">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}

    <form action="{% url 'core:change_password' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for fm in form %}
                <div class="mb-3">
                    <label class="form-label">{{ fm.label }}</label>
                    {% for f in fm %}
                        <div class="input-group">
                            {{ f }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <button class="btn btn-light btn-sm"> <a style="text-decoration: none; color: darkgray;" href="{% url 'userprofile:user_profile' request.user.id %}"> Cancel </a> </button>
        <button type="submit" class="btn btn-sm btn-info"> change password </button>
    </form>
    
</div>
{% endif %}

{% endblock %}