{% extends 'core/layout.html' %}
{% load static %}
{% block title %} Password Reset {% endblock %}

{% block body %}

<div id="id_auth_form" class="">
    <h3> &raquo; Reset password &laquo; </h3>
    <hr>
    {% if fm.errors %}
    <div class="text-danger">
        {% for error in fm.errors %}
            <p class="alert alert-danger"> {{error}} </p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for fm in form %}
            <div class="mb-3">
                <label> {{fm.label}} </label>
                {% for f in fm %}
                    <div class="input-group">
                        {{f}}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-sm btn-info"> submit </button>
        <a id="id_forgot_password" class="border border-dark-subtle border-1 rounded p-2 ml-3" href="{% url 'core:login' %}"> &raquo; go back &laquo; </a>
    </form>
</div>

{% endblock %}