{% extends 'core/layout.html' %}
{% load static %}
{% block body %}

<div id="id_auth_form" class="">
    <h3> &raquo; Reset password &laquo; </h3>
    <hr>
    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for fm in form %}
            <div class="mb-3">
                <label> {{fm.label}} </label>
                {% for f in fm %}
                    <div class="input-group">
                        {{f}}
                    </div>
                {% endfor %}
                {% if fm.errors %}
                    <div class="text-danger col-md-5 col-lg-4 mt-2">
                        {% for error in fm.errors %}
                            <p class="alert alert-danger mb-1 mt-1 col-md-5 col-lg-4"> {{error}} </p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-sm btn-info"> change password </button>
    </form>
    {% else %}
    
    <p>Unfortunately, the password reset link you've used is invalid or has already been used. If you still need to reset your password:</p>
    <ul>
      <li> Please request for new password reset link. </li>
      <li> Ensure you're using the most recent password reset link sent to your email. </li>
      <li> If you requested multiple password resets, use the link from the latest email. </li>
    </ul>
    
    {% endif %}
</div>

{% endblock %}