{% extends 'core/layout.html' %}
{% load static %}
{% block title %} Password Reset {% endblock %}

{% block body %}

<div id="id_auth_form" class="">
  <h3> &raquo; Reset password &laquo; </h3>
  <hr>
  <p>We've sent you instructions to reset your password. If you haven't received the email:</p>

  <ul>
    <li>Double-check that you entered the correct email address.</li>
    <li>Check your spam or junk mail folder.</li>
    <li>Wait a few minutes and refresh your inbox.</li>
  </ul>
</div>

{% endblock %}